@import url("swap.css");

body {
  background-image: url(../images/background.png);
  background-size: cover;
}

button {
  color: black;
  font-family: papyrus;
}

#name {
  color: black;
}

* {
  color: white;
  text-align: center;
}

a {
  color: yellow;
}

.bordered {
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}
